.main-div mat-card{
    padding: 0px;

}
.login-form{
    padding: 20px;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    
}

label{
    color: #fff;
    font-style: unset;
}
body{

    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
    height: 75vh;
    
}
.mat-toolbar{
    padding: 20px;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
}
