<div class="patat">
    <div class="shop-header">
      <h1>Shop ElAN</h1>
      <h3>Votre destination pour TV, Phones, et PC</h3>
    </div>
  
    <div class="shop-contact">
      <h3>Contactez-nous :</h3>
      <p><strong>Email :</strong> noureddinearbi90</p>
      <p><strong>Tel :</strong> 99808958</p>
      <p><strong>Adresse :</strong> Menzel Enour, Monastir</p>
    </div>
  
    <div class="shop-social">
      <h3>Suivez-nous :</h3>
      <p>
        <button mat-button class="social-button">
          <a href="https://www.facebook.com/?locale=fr_FR" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a>
        </button>
        <button mat-button class="social-button">
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
        </button>
      </p>
    </div>
  </div>
 
  