<body>
    <div fxLayoutAlign="center center"fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">SIGN UP</mat-toolbar>
        <form  fxLayout="column" class="register-form">
            <label>Your full name</label> 
            
                <input matInput placeholder="Enter your full name">
            
            <label>Email</label> 
            
                <input matInput placeholder="Enter your email">
            
            <label>Password</label>
            
                <input placeholder="Enter your password"  type="password">
        
            <label>Confirm password</label>

            <input placeholder="Enter your password"  type="password">
                
                <button class="btn">SIGN UP</button>
                <p>Have an Account? <a class="link" href="http://localhost:63150/login" >Login Here!</a></p>

           
        </form></mat-card></div></body>
        
