<body><div class="card">
    <img src="https://tdiscount.tn/57198-home_default/newstar-tv-led-hd-43-recepteur-integre-43553.webp"class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">TV TELEFUNKEN 50" SMART -LED 4K-G3A</h5>
      <p class="card-text">Taille de l'écran : 50 Pouces
        Type d'affichage : 4K
        Résolution :  3840 x 2160 Pixels 
        Technologie d'affichage : LED 
        Smart : Oui
        Récepteur Intégré : Non
        TNT : Oui 
        Système d'exploitation : Android 10
        High Dynamic Range : Non 
        Fréquence de rafraîchissement en Hz : 50 | 60 
        Connecteurs : 3 HDMI | 2 USB | RJ45
        Connectivité sans fil : WIFI | Bluetooth 
        Haut Parleur en Watt  :  10x2  
        Poids Brut en Kg : 
        Dimensions Brut en mm (L x H x P) : 1113 x 750 x 647
        Points forts : Dolby Digital | RAM 2 GB | CPU Quad Core A53 x 4 1,5 GHZ</p>
        <h4>prix:599 DT</h4>
        <button mat-raised-button color="primary">ACHETER</button> </div>
  </div>

  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIv4DX_1IN6KmIzWbY4WThHtvUzp0xRbMbng&usqp=CAU"class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">TV TOSHIBA 32" S25 LED HD + Récepteur Intégré</h5>
      <p class="card-text">TV TOSHIBA 32" S25 LED HD + Récepteur Intégré

        Résolution : 1366 x 768 Pixels - Moteur vidéo : MOTEUR CEVO - Dolby Digital, Dolby Digital Plus - Format vidéo : MPEG-2, MPEG-4 -  Sortie audio : 8W + 8W - Télévision numérique terrestre «TNT» - Connecteurs : Sortie audio 3.5mm, 2x HDMI, 2x USB - Dimensions Avec pieds :</p>
        <h4>prix:650 DT</h4>
        <button mat-raised-button color="primary">ACHETER</button></div>
  </div>

</body>